<div id="<%= dom_id asuplier %>">
  <p>
    <strong>Name:</strong>
    <%= asuplier.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= asuplier.age %>
  </p>

  <p>
    <strong>Asuplier:</strong>
    <%= asuplier.asuplier_id %>
  </p>

</div>
