<div id="<%= dom_id plar %>">
  <p>
    <strong>Name:</strong>
    <%= plar.name %>
  </p>

  <p>
    <strong>Child name:</strong>
    <%= plar.child_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= plar.age %>
  </p>

</div>
